In [1]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt

In [2]:
import nltk
from nltk.tokenize import word_tokenize 

nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
df = pd.read_csv('/content/drive/My Drive/Projects/GOT/got_scripts_breakdown.csv', delimiter=';')
df.head()

   Column1    Season           Episode  ... N_serie N_Season  Emision Date
0        1  Season 1  winter is coming  ...       1        1    17/04/2011
1        2  Season 1  winter is coming  ...       1        1    17/04/2011
2        3  Season 1  winter is coming  ...       1        1    17/04/2011
3        4  Season 1  winter is coming  ...       1        1    17/04/2011
4        5  Season 1  winter is coming  ...       1        1    17/04/2011

[5 rows x 8 columns]

In [4]:
df = df[['Sentence']]
df.columns = ['Text']
df = df.iloc[:3000]
df.head()

                                                Text
0  What d’you expect? They’re savages One lot ste...
1  I’ve never seen wildlings do a thing like this...
2                             How close did you get?
3                             Close as any man would
4                    We should head back to the wall

In [5]:
df.shape

(3000, 1)

In [6]:
def preprocess(text):
  text = text.lower()
  text = re.sub('[^a-z ]', ' ', text)
  text = text + ' endseq'
  text = ' '.join(text.split())
  return text

In [7]:
df['Text'] = df['Text'].apply(preprocess)
df.head()

                                                Text
0  what d you expect they re savages one lot stea...
1  i ve never seen wildlings do a thing like this...
2                       how close did you get endseq
3                      close as any man would endseq
4             we should head back to the wall endseq